<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeriesCopier.DirectSave" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SeriesCopier.Properties.DirectSave" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SeriesCopier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SeriesCopier.DirectSave>
            <setting name="IsMaximized" serializeAs="String">
                <value>True</value>
            </setting>
        </SeriesCopier.DirectSave>
        <SeriesCopier.Properties.DirectSave>
            <setting name="IsMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>525, 350</value>
            </setting>
        </SeriesCopier.Properties.DirectSave>
        <SeriesCopier.Properties.Settings>
            <setting name="StartupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipFileOnMD5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyBlockSize" serializeAs="String">
                <value>10240</value>
            </setting>
        </SeriesCopier.Properties.Settings>
    </userSettings>
</configuration>